
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="bootstrap.css"/>
        <link rel="stylesheet" href="new.css"/>   
    </head>
    <body>
        <div class="container" style="height: 500px;" id="container">
            <div class="row">
                <div class="col">
                     <div id="form">
                     <div id="head">
                           <h3>FILL THIS FORM: </h3>
                     </div>
                     <form action="/form" method="post" class="form-group" >

                    *NAME: <input type="text" name="fname" id="fname" class="form-control"/>
                     *ADDRESS:<input type="text" name="address" id="address" class=" form-control"/>
                     *MOBILENO: <input type=" text" name="mobileno" id="mb" class="form-control"/>
                     *add description: <input type=" text" name="description" id="description" class="form-control" placeholder="add description......."/>
                     <input type="checkbox" class="form-control-checked">TERMS AND CONDITION: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, neque dignissimos ipsa nihil esse modi hic rerum reprehenderit omnis voluptates.<br/>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam ad autem vitae, animi voluptatem praesentium nobis sapiente libero labore, repellendus earum est repudiandae nemo quaerat quidem nesciunt deserunt perferendis fugiat.<br/>
                     <button type="submit" name="submit" class="btn btn-success" id="submit">submit</button>
                     </form>



                 </div>
                </div>

              </div>



        </div>
            
    </body>
    <script src="new.js" >

        </script>
</html>