<!DOCTYPE html>
<html>
    <head>
          <link rel="stylesheet" href="bootstrap.css"/>
          <link rel="stylesheet" href="home.css"/>
          <link rel="stylesheet" href="second.css"/>
    </head>
    <body>
        <div class="nav ">
            <div class="container">
                <div class="row">
                    <div class="col-3 mt-5">
                        <div class="logo">
                            <h1>ART EXPLORER</h1>
                        </div>
                    </div>
                    <div class="col-4" >
                        <div class="row ">
                            <div class="col-6">
                                <input type="text" class="form-control mt-5" placeholder="search here...." id="search"/>
                            </div>
                            <div class="col-6">
                                <button class="btn bg-danger" id="searchbutton">search</button>
                            </div>
                        </div>
                            
                        </div>
                        <div class="col-5 mt-4">
                    
                                      <nav class="navbar navbar-expand float-end ">
                                        <ul class="navbar navbar-nav "> 
                                            <li class="nav-item nav-hello" style="margin: 1px;border-radius: 3px; width: 100px; text-align: center;background-color: hwb(328 10% 0%); " ><a href="http://localhost:5500/home"   class="nav-link" style="color: white;">HOME</a></li>
                                            <li class="nav-item nav-hello" style="margin: 1px;border-radius: 3px; width: 100px; text-align: center;background-color: hwb(328 10% 0%); " ><a href="#"   class="nav-link" style="color: white;">SETTINGS</a></li>
                                            <li class="nav-item nav-hello" style="margin: 1px;border-radius: 3px; width: 100px; text-align: center;background-color: hwb(328 10% 0%); " ><a href="#"   class="nav-link" style="color: white;">ABOUT US</a></li>
                                            <li class="nav-item nav-hello" style="margin: 1px;border-radius: 3px; width: 100px; text-align: center;background-color: hwb(328 10% 0%); " ><a href="#"   class="nav-link" style="color: white;">CONTACTUS</a></li>
                                        </ul>         
                                      </nav>  
                </div>
                </div>
            </div>
        </div>
          <div id="product">
              <div class="container">
                <div class="row">
                    <div class="col-5">
                        <img src="KEYHANG.jpg" alt="" id="image1"/>
                    </div>
                    <div class="col-7 infop">
                        <h2>THE KEY HANG B-1</h2>
                        <p> made by card board,<br/>
                            specially design for homes,<br/>
                            increase the beauty of interior<br/>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non et exercitationem, alias perferendis labore beatae unde nam accusamus amet quam quia esse sint, iusto officiis, temporibus laboriosam. Ex saepe eaque consectetur ipsa obcaecati, possimus ipsam. Ullam deserunt, fuga officiis tenetur aspernatur itaque quod blanditiis sunt, corrupti tempore, nihil excepturi similique?<br/>
                        </p>
                        <h1>5,568/-</h1>
                        <div class="button">
                            
                            <a href="http://localhost:5500/form">
                                <button type="button" class="btn btn-warning buts">
                                    BUY NOW
                                </button>
                            </a>

                            <button type="button" class="btn btn-outline-success buts ">ADD TO CART</button>


                        </div>
                    </div>
                </div>
              </div>
          </div>
          <div id="listproduct">
            <div class="container">
                <div class="row">
                    <div class="col-4 prod">
 
                        <img src="KINGFISHER.jpg" class="image2"/>
                        <div class="prodinfo">
                            <h3>KINGFISHER</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde saepe doloremque animi dolores, voluptate nemo!</p>
                            <button type="button" class="btn-warning btn bdetail">SEE DETAILS</button>
                        </div>
                    </div>
                    <div class="col-4 prod">
 
                        <img src="KEY3.jpg" class="image2"/>
                        <div class="prodinfo">
                            <h3>WALLART</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde saepe doloremque animi dolores, voluptate nemo!</p>
                            <button type="button" class="btn-warning btn bdetail">SEE DETAILS</button>
                        </div>
                    </div>
                    <div class="col-4 prod">
 
                        <img src="KUNDI.jpg" class="image2"/>
                        <div class="prodinfo">
                            <h3>WALLPAINT</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde saepe doloremque animi dolores, voluptate nemo!</p>
                            <button type="button" class="btn-warning btn bdetail">SEE DETAILS</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-3 mt-5">
                        <div class="row" id="footerrow">
                            <div class="col">HOME</div>
                            <div class="col">SETTING</div>
                            <div class="col">ABOUT US</div>
                            <div class="col">contact us</div>
                        </div>
                    </div>
                    <div class="col-3 mt-5"><h3>ABOUT Us:</h3> 
                        <p>MADHURA MACHKAR<br/>
                        abc house,ratnagiri<br/> 
                    </p>
                        </p>
                    </div>
                    <div class="col-3 mt-5"><h3>CONTACT US:  </h3><br/>
                        madhura123@gmail.com<br/>
                        123456789<br/>
                    </div>
                    <div class="col-3 mt-5"><h3>WEBSITE by: </h3><br>
                        OMKAR BOI<br>
                        EMAIL ON : <br>
                        dhawanomkar355@gmail.com
    
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script src="new.js">

    </script>
</html>